@layer reset, base, typography, components, utilities;

@layer reset {
    nav ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    div {
        box-sizing: border-box;
    }

    :not(:is(h1, h2, h3, h4)) {
        margin: 0;
        padding: 0;
    }

    img {
        display: block;
        max-width: 100%;
    }
}

@layer base {

    /* variables */
    :root {
        /* colors */
        /* primary colors are currently default - don't apply unless overridden */
        --primary-bg: oklch(100% 0 0);
        --primary-color: oklch(0% 0 0);
        /* custom colors */
        --secondary-bg: oklch(0% 0 0);
        --secondary-bg-transparent: oklch(from var(--secondary-bg) l c h / .3);
        --secondary-color: oklch(100% 0 0);
        --accent-1: oklch(52% 0.23 27);
        --accent-1-light: oklch(62% 0.23 27);
        --accent-1-transparent: oklch(from var(--accent-1) l c h / .3);
        --accent-2: oklch(90% 0.06 244);
        --accent-2-light: oklch(95% 0.015 244);
        --accent-accessibility: oklch(62% 0.23 80);
        --grey: oklch(68% 0 271);
        --shadow: oklch(78% 0 271);
        --footer-bg: oklch(48% 0 271);

        /* spacing */
        --spacer-min: 0.25em;
        --spacer-small: 0.5em;
        --spacer: 1em;
        --spacer-large: 1.5em;
        --spacer-xl: 2em;
        --spacer-xxl: 3em;
        --spacer-max: 4em;

        /* styling */
        --max-width: 1440px;
        --card-radius: 10px;
        --box-shadow: 2px 4px 12px 2px var(--shadow);
    }

    /* icons */
    .feature-card .material-icons {
        color: var(--accent-1);
    }

    /* accessibility */
    *:focus-visible {
        outline: 2px solid var(--accent-accessibility);
        outline-offset: var(--spacer-min);
    }

    /* main layout */
    body {
        display: grid;
        grid-template-columns: 1fr min(var(--max-width), calc(100svw - var(--spacer))) 1fr;
        background: aliceblue;
        background: var(--accent-2-light);
    }

    body>* {
        grid-column: 2;
    }

    body .full-width {
        grid-column: 1 / span 3;
        max-inline-size: var(--max-width);
    }

    nav {
        position: absolute;
        content: "";
        inset: 10px 0 auto 0;
        display: flex;
        justify-content: space-between;
        inline-size: calc(100vw - var(--spacer-xl) * 2);
        max-inline-size: calc(var(--max-width) - var(--spacer-large) * 2);
        margin-inline: auto;
        padding: var(--spacer);
        border: 1px solid var(--grey);
        border-radius: 1in;
        background: var(--secondary-bg-transparent);
        z-index: 1;
    }

    .hero {
        position: relative;
        height: 50vh;
        background: var(--grey);
        padding-block: var(--spacer-xxl) calc(var(--spacer-xxl) * 2);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        overflow: hidden;
    }

    .hero-image {
        position: absolute;
        inset: 0 auto;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero>h1,
    .hero>p {
        position: relative;
        z-index: 1;
    }

    /* .hero {
        display: grid;
        grid-template-areas: "stack";
        place-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    .hero>* {
        grid-area: stack;
    } */

    body .hero-image {
        grid-column: 1 / -1;
    }

    footer {
        padding: var(--spacer);
        background: var(--footer-bg);
        color: var(--secondary-color);
        text-align: end;
    }

    /* main page */
    .feature-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacer);
        margin: -4.5rem var(--spacer-xl) var(--spacer);
    }

    .gradient-block {
        padding-block: var(--spacer-large);
        background: linear-gradient(90deg, var(--grey) 33%, var(--primary-bg) 0);
        background: linear-gradient(90deg, var(--grey) 33%, var(--accent-2) 0);
    }

    .reversed-gradient-block {
        padding-block: var(--spacer-large);
        background: linear-gradient(90deg, var(--primary-bg) 66%, var(--grey) 0);
        background: linear-gradient(90deg, var(--accent-2) 66%, var(--grey) 0);
    }

    .history-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        max-inline-size: min(90vw, calc(var(--max-width) / 2));
        margin: var(--spacer-small) auto;
        border-radius: var(--spacer-small);
        background: var(--primary-bg);
        contain: paint;
    }

    .reduced-width {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    .reduced-width>* {
        grid-column: 2;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacer);
        justify-content: center;
    }

    .card-container>* {
        flex: 0 1 220px;
    }

    /* gallery page */
    .bento-container {
        container: bento / inline-size;
    }

    /* contact page */

    /* champions page */
}

@layer typography {
    h1 {
        color: var(--secondary-color);
        font-family: 'Allerta Stencil', 'Times New Roman', serif;
        font-size: 3rem;
        font-weight: bold;
        margin: 6rem auto 1rem;
        background: var(--accent-1-transparent);
    }

    h2 {
        font-family: 'Amarante', 'Arial', sans-serif;
        text-wrap: pretty;
    }

    .hero p {
        font-family: 'Amarante', 'Arial', sans-serif;
        font-weight: bold;
        margin-inline: auto;
        padding: var(--spacer-small) var(--spacer-xl);
        color: var(--secondary-color);
        background: var(--secondary-bg-transparent);
    }

    :not(footer, .feature-card)>p {
        max-width: 75ch;
    }
}

@layer components {
    nav a {
        color: white;
        font-weight: bold;
        font-size: .9rem;
        transition: color 1s ease;
    }

    nav a:hover {
        color: var(--accent-1-light);
        transition: color 0.3s ease;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 4vw;
        margin-block-start: var(--spacer-small);
    }

    nav li {
        position: relative;
        color: white;
        font-weight: bold;
        font-size: .9rem;
    }

    /* actieve pagina indicator */
    li.nav-checked::before {
        position: absolute;
        content: "";
        top: 20px;
        width: var(--spacer-xl);
        height: var(--spacer-small);
        border-radius: 1in;
        background: var(--accent-1);
        margin-right: .5em;
    }

    /* main page */
    .feature-card {
        flex: 1 1 200px;
        padding: var(--spacer);
        border-radius: var(--card-radius);
        background: var(--primary-bg);
        box-shadow: var(--box-shadow);
    }

    .history-block-left {
        padding: var(--spacer);
    }

    .history-block-left a {
        display: inline-block;
        margin: var(--spacer) auto 0;
        padding: var(--spacer-small) var(--spacer-large);
        color: white;
        font-weight: bold;
        background: var(--accent-1);
        /* extra ruimte boven en onder overhouden om keyboard selectie nog steeds zichtbaar te laten zijn */
        clip-path: polygon(0 20%, 5% 20%, 5% -40%, 100% -40%, 100% 80%, 95% 80%, 95% 140%, 0 140%);
        transition: background 1s ease;
    }

    .history-block-left a:hover {
        background: var(--accent-1-light);
        transition: all 0.3s ease;
    }

    .history-block-right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .two-halves .text-half {
        display: flex;
        flex-direction: column;
        gap: var(--spacer);
        align-items: center;
        padding: var(--spacer);
    }

    .reduced-width ul {
        list-style: disc inside;
        margin-block: var(--spacer);
    }

    .card {
        display: grid;
        grid-template-rows: 200px 1fr;
        border-radius: var(--card-radius);
        contain: paint;
    }

    .card .card-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: var(--spacer);
        color: var(--secondary-color);
        background: linear-gradient(125deg, var(--secondary-bg) 50%, var(--accent-1) 0);
    }

    /* gallery page */
    .circuit-card {
        position: relative;
        border-radius: var(--card-radius);
        overflow: hidden;
        box-shadow: var(--box-shadow);
    }

    .circuit-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .circuit-grid {
        display: grid;
        grid-template-columns:
            .5rem 1fr 1fr .5rem;
        grid-auto-rows: 200px;
        justify-content: center;
        gap: 1rem;
        grid-template-areas:
            ". one two ."
            ". three four ."
            ". five six ."
            ". seven eight ."
            ". nine ten ."
            ". eleven twelve ."
            ". thirteen fourteen ."
            ". fifteen sixteen ."
            ". seventeen eighteen ."
            ". nineteen twenty ."
            ". twenty-one twenty-two .";
        margin-block: var(--spacer);

        .one {
            grid-area: one;
        }

        .two {
            grid-area: two;
        }

        .three {
            grid-area: three;
        }

        .four {
            grid-area: four;
        }

        .five {
            grid-area: five;
        }

        .six {
            grid-area: six;
        }

        .seven {
            grid-area: seven;
        }

        .eight {
            grid-area: eight;
        }

        .nine {
            grid-area: nine;
        }

        .ten {
            grid-area: ten;
        }

        .eleven {
            grid-area: eleven;
        }

        .twelve {
            grid-area: twelve;
        }

        .thirteen {
            grid-area: thirteen;
        }

        .fourteen {
            grid-area: fourteen;
        }

        .fifteen {
            grid-area: fifteen;
        }

        .sixteen {
            grid-area: sixteen;
        }

        .seventeen {
            grid-area: seventeen;
        }

        .eighteen {
            grid-area: eighteen;
        }

        .nineteen {
            grid-area: nineteen;
        }

        .twenty {
            grid-area: twenty;
        }

        .twenty-one {
            grid-area: twenty-one;
        }

        .twenty-two {
            grid-area: twenty-two;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: var(--spacer);
        color: white;
        text-shadow: 2px 2px 2px var(--primary-color);
        background: var(--secondary-bg-transparent);
    }
}

@layer utilities {
    .italic {
        font-style: italic;
    }

    .horizontal-reversed {
        scale: -1 1;
    }

    .text-center {
        text-align: center;
    }

    .blur-bg {
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    .button-link {
        display: inline-block;
        margin-block: var(--spacer);
        margin-inline: auto;
        padding: var(--spacer-small) var(--spacer-large);
        font-weight: bold;
        border: 1px solid var(--grey);
        border-radius: 1in;
        color: var(--secondary-color);
        background: var(--secondary-bg);
        transition: scale 1.0s ease;
    }

    .button-link:hover {
        color: var(--primary-color);
        background: var(--primary-bg);
        scale: 1.1;
        transition: scale 0.3s ease;
    }
}

nav a.material-icons {
    font-size: 2rem;
    color: white;
}

@media (width >=768px) {

    /* main page */
    .two-halves {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .two-halves :nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .two-halves :nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }

    /* gallery page */
    .circuit-grid {
        grid-template-columns:
            .5rem repeat(5, 1fr) .5rem;
        grid-auto-rows: 400px;
        grid-template-areas:
            ". one one one two two ."
            ". three three four four four ."
            ". five five five six six ."
            ". seven seven eight eight eight ."
            ". nine nine nine ten ten ."
            ". eleven eleven twelve twelve twelve ."
            ". thirteen thirteen thirteen fourteen fourteen ."
            ". fifteen fifteen sixteen sixteen sixteen ."
            ". seventeen seventeen seventeen eighteen eighteen ."
            ". nineteen nineteen twenty twenty twenty ."
            ". twenty-one twenty-one twenty-one twenty-two twenty-two .";
    }
}

@media (width >=1000px) {
    .circuit-grid {
        grid-template-columns:
            minmax(1rem, 1fr) repeat(7, minmax(0, calc(1000px / 7))) minmax(1rem, 1fr);
        grid-template-areas:
            ". one one two two three three three ."
            ". four four two two five six six ."
            ". seven seven seven seven seven eight eight ."
            ". nine nine ten ten eleven eight eight ."
            ". nine nine twelve twelve eleven eight eight ."
            ". thirteen thirteen fourteen fourteen fifteen fifteen fifteen ."
            ". sixteen sixteen fourteen fourteen seventeen eighteen eighteen ."
            ". nineteen nineteen twenty twenty twenty-one eighteen eighteen ."
            ". nineteen nineteen twenty-two twenty-two twenty-one eighteen eighteen ."
    }
}

@media (min-width: 1440px) {
    body .full-width {
        grid-column: 2;
    }
}